<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/df7032ec01.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body class="index">
    <header class="index__header">
        <div>
            <img class="index__header__logo" src="/img/logo.jpg" alt="">
        </div>
        <button class="index__header__icon__menu"><i class="fa-solid fa-bars"></i></button>
        <nav class="index__header__menu">
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">QUIENES</a></li>
                <li><a href="#">SERVICIOS</a></li>
                <li><a href="#">PORTFOLIO</a></li>
                <li><a href="#">SUCURSALES</a></li>
                <li><a href="#">CONTACTO</a></li>
            </ul>
        </nav>
    </header>
    <main class="index__main">
        <section class="index__section--banner">
            <div>
                <img src="/img/img-banner.jpg" alt="banner">
            </div>
        </section>
        <section class="index__main__section">
            <article class="index__main__section__article">
                <div class="index__main__section__article__photo">
                    <img class="sticker" src="/img/img-descuento.png" alt="descuento">
                    <img class="index__main__article__img--product" src="/img/img-pdto-1.jpg" alt="producto 1">
                    <a href="#">AMPLIAR FOTO</a>
                </div>
                <h2>Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, non? Quasi nemo provident enim ratione.</p>
            </article>
            <article class="index__main__section__article">
                <div class="index__main__section__article__photo">
                    <img class="sticker" src="/img/img-gratis.png" alt="descuento">
                    <img class="index__main__article__img--product" src="/img/img-pdto-2.jpg" alt="producto 1">
                    <a href="#">AMPLIAR FOTO</a>
                </div>
                <h2>Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, non? Quasi nemo provident enim ratione.</p>
            </article>
            <article class="index__main__section__article">
                <div class="index__main__section__article__photo">
                    <img class="sticker" src="/img/img-nuevo.png" alt="descuento">
                    <img class="index__main__article__img--product" src="/img/img-pdto-3.jpg" alt="producto 1">
                    <a href="#">AMPLIAR FOTO</a>
                </div>
                <h2>Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, non? Quasi nemo provident enim ratione.</p>
            </article>
            <article class="index__main__section__article">
                <div class="index__main__section__article__photo">
                    <img class="sticker" src="/img/img-descuento.png" alt="descuento">
                    <img class="index__main__article__img--product" src="/img/img-pdto-1.jpg" alt="producto 1">
                    <a href="#">AMPLIAR FOTO</a>
                </div>
                <h2>Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, non? Quasi nemo provident enim ratione.</p>
            </article>
            <article class="index__main__section__article">
                <div class="index__main__section__article__photo">
                    <img class="sticker" src="/img/img-gratis.png" alt="descuento">
                    <img class="index__main__article__img--product" src="/img/img-pdto-2.jpg" alt="producto 1">
                    <a href="#">AMPLIAR FOTO</a>
                </div>
                <h2>Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, non? Quasi nemo provident enim ratione.</p>
            </article>
            <article class="index__main__section__article">
                <div class="index__main__section__article__photo">
                    <img class="sticker" src="/img/img-nuevo.png" alt="descuento">
                    <img class="index__main__article__img--product" src="/img/img-pdto-3.jpg" alt="producto 1">
                    <a href="#">AMPLIAR FOTO</a>
                </div>
                <h2>Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, non? Quasi nemo provident enim ratione.</p>
            </article>
        </section>
    </main>
    <footer class="index__footer">
        <nav class="index__footer__menu">
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">QUIENES</a></li>
                <li><a href="#">SERVICIOS</a></li>
                <li><a href="#">PORTFOLIO</a></li>
                <li><a href="#">SUCURSALES</a></li>
                <li><a href="#">CONTACTO/a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>